name: TOOLBOXLAP

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    timeout-minutes: 360

    steps:
      - name: Install Git
        run: git --version || choco install git

      - name: Clone GitLab repo
        run: git clone https://gitlab.com/raposabrty/pcrdp temp

      - name: Run Downloads.bat
        run: cmd /c temp/Downloads.bat

      - name: Show Website
        run: cmd /c temp/show.bat

      - name: Time Counter
        run: cmd /c temp/loop.bat
