name: TOOLBOXLAP

on:
  workflow_dispatch:

jobs:
  build:
    name: Start Building...
    runs-on: windows-latest
    timeout-minutes: 360
    
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4
        with:
          repository: raposabrty/pcrdp
          path: temp  # clone into temp folder

      - name: Run Downloads.bat
        run: cmd /c temp/Downloads.bat

      - name: Show Website
        run: cmd /c temp/show.bat

      - name: Time Counter
        run: cmd /c temp/loop.bat
